extends layout

block content 
    section
        h2 My Account
        div
            p Username: #{username}
            div.acc-detail    
                p Email: #{email}
                button(onclick=updateEmailRedirect) Edit 
            div.acc-detail    
                p Club Status: #{memberStatus}
                button(onclick=clubMemberRedirect) Change 
            div.acc-detail 
                p Admin: #{adminStatus}
                button(onclick=adminStatusRedirect) Change
